.button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  font-size: 24px;
}

.modalButton {
  margin-top: 20px;
}

.copyright {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  font-size: 12px;
  color: dimgray;
}

.highlight {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background: lightpink;
  }
}
